<div class="navbar">
    <div class="navbar-item">
      {{#link-to 'listamsg'}}
        lista
      {{/link-to}}   
    </div>   
    <div class="navbar-item">
      {{#link-to 'perfil'}}
        Perfil
      {{/link-to}}
    </div>
  <div class="body">
    {{outlet}}
  </div>
</div>