<div class="container">
  <div class="flex-container">
  	<div class="msg">
  		msg1
  		<div class="perfil">a</div>
  	</div>
  	<div class="msg">msg2

  	</div>
  	<div class="msg">msg3
  		{{#link-to 'perfil' class="button"}}
		    nombre del que envia
		{{/link-to}}
  	</div>
  </div>
</div>
{{outlet}}